<div>
    <table class="moveAndTime">
      <tr>
        <td>
          <button id="left" class="btn btn-primary"
            onclick="location.href = '/lessons/html-css/html-css-5.html';">Předchozí lekce</button>
          <button id="right" class="btn btn-primary" onclick="location.href = '/prezentace.html';">Následují
            lekce</button>
        </td>
        <td>
          <p class="nav-link" id="cas-text"><span id="cas"></span></p>
        </td>
      </tr>
    </table>
  </div>
  <h1>Projekt - Moje osobní webová stránka</h1>

  <section class="odstavec">
    <h3>Cíl projektu:</h3>
    <p>
      Cílem tohoto projektu je, aby každý vytvořil svou vlastní osobní webovou stránku, která bude
      reprezentovat jeho zájmy, dovednosti, a osobní identitu. Účastníci se naučí základy webového designu a vývoje a
      získají zkušenost s tvorbou webových stránek pomocí HTML, CSS a dalších případných technologií.
    </p>
  </section>

  <section class="odstavec">
    <h3>Popis projektu:</h3>
    <ol>
      <li>
        <strong>Návrh:</strong> Každý začne tím, že si promyslí, co chce na své webové stránce zahrnout. Může
        to být informace
        o sobě, své kariéře, zájmech, portfolio práce, fotografie, blog nebo cokoli jiného, co si přeje sdílet.
      </li>
      <li>
        <strong>Vytvoření obsahu:</strong> Poté, co má každý jasnou představu o obsahu své stránky, začnou
        pracovat na
        vytvoření obsahu. To může zahrnovat psaní textů, výběr a úpravu fotografií nebo grafiky a přípravu dalšího
        obsahu.
      </li>
      <li>
        <strong>Vývoj:</strong> Jakmile má každý připravený obsah, začne pracovat na vývoji své webové
        stránky. Budou využívat
        HTML a CSS k vytvoření struktury, stylu a rozložení stránky.
      </li>
      <li>
        <strong>Design:</strong> Inspirovat se můžete existujícími webovými stránkami nebo šablonami, ale
        měli by také přidat
        svůj vlastní osobní dotek a designové prvky.
      </li>
      <li>
        <strong>Testování a úpravy:</strong> Po dokončení vývoje by jste si měli své stránky otestovat, aby
        zkontrolovali, zda vše
        funguje správně a vypadá dobře. Měli by být připraveni provést případné úpravy a opravy chyb.
      </li>
      <li>
        <strong>Publikace:</strong> Ke konci tematického celku si ukážeme, jak web pustit do online světa.
      </li>
    </ol>
  </section>


  <section class="odstavec">
    <h3>Požadavky:</h3>
    <ul>
      <li>
        Webová stránka musí obsahovat minimálně 3 stránky (např. Úvodní stránka, O mně, Kontakt).
      </li>
      <li>
        Stránky musí být dobře vypadat a na první d přehledná.
      </li>
      <li>
        Stránky musí být esteticky příjemné a reprezentovat osobnost a zájmy vás jakožto tvůrce.
      </li>
      <li>
        Stránky musí obsahovat aspoň jeden formulář.
      </li>
      <li>
        Stránky musí obsahovat pár obrázků.
      </li>
    </ul>
  </section>

  <section class="odstavec">
    <h3>Doporučení:</h3>
    <ul>
      <li>
        Účastníci by měli využít svou kreativitu a originalitu při tvorbě svých stránek.
      </li>
      <li>
        Můžete se inspirovat existujícími webovými stránkami, ale měli by přidat svůj vlastní osobní dotek. Pro
        inspiraci můžete se kouknout na <a href="https://getbootstrap.com/docs/5.3/examples/">příklady z knihovny
          boostrap</a>.
      </li>
      <li>
        Každý bude mít svůj vlastní web.
      </li>
    </ul>
  </section>

  <section class="odstavec">
    <h3>Hodnocení:</h3>
    <ul>
      <li>
        Hodnocení bude založeno na kvalitě a originalitě obsahu, designu a vývoje webové stránky.
      </li>
      <li>
        Bude se také hodnotit schopnost pracovat s HTML a CSS.
      </li>
    </ul>
  </section>

  <div class="odstavec">
    <table>
      <tr>
        <td>
          <h5>Zadání úkolu</h5>
        </td>
        <td style="padding-left: 50px;">
          <button onClick='download("/download/html-css/projekt.pdf")' class="btn btn-primary"
            style="font-weight: bold;">
            stažení</button>
        </td>
      </tr>
    </table>
    <h5><a href="/download/pdfobraze.png" download>Cover</a></h5>
  </div>