<div>
    <table class="moveAndTime">
      <tr>
        <td>
          <button id="left" class="btn btn-primary"
            onclick="location.href = 'audacity/lekce2';">Předchozí lekce</button>
          <button id="right" class="btn btn-primary"
            onclick="location.href = 'audacity/lekce4';">Následují lekce</button>
        </td>
        <td>
          <p class="nav-link" id="cas-text"><span id="cas"></span></p>
        </td>
      </tr>
    </table>
  </div>

<h1 id="section2">Lekce 3 - Odkazy a více stránek</h1>
    <p>
      V této lekci si představíme, jakými způsoby můžeme využít tag <strong>&lt;a&gt;</strong>. Ukážeme si, jak vytvořit
      více podstránek webu.
    </p>

    <h2>Atributy v tagu &lt;a&gt;</h2>

    <p>
      Nejdůležitějším atributem, který potřebujeme znát, je <strong>href</strong>. To je to, co určuje, kam odkaz
      povede. A nemusí to být
      jen webová stránka - může to být taky odkaz na obrázek, na soubor ke stažení nebo dokonce na e-mailovou adresu.
    </p>

    <p>
      Pak tu máme atributy <strong>target</strong> a <strong>rel</strong>, které jsou trochu pokročilejší.
      <strong>Target</strong> určuje, kde se otevře cílový odkaz - jestli
      v novém okně, nové kartě nebo ve stejném okně. A <strong>rel</strong> nám říká něco o vztahu mezi naší stránkou a
      cílovou stránkou.
      Například, zda by měla být stránka indexována ve vyhledávačích.
    </p>

    <section class="odstavec">
      <h3>Práce s tagem &lt;a&gt;</h3>
      <ul>
        <li>
          <h4>Odkaz na e-mailovou adresu:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">&lt;a <span class="atribut">href=</span> <span
                      class="text">"mailto:ficek_r&#64;itstep.academy"</span> &gt;</span>
                  <strong>ficek_r&#64;itstep.academy</strong> <span class="tag">&lt;/a&gt;</span><br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <a href="mailto:ficek_r@itstep.academy">ficek_r&#64;itstep.academy</a>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <h4>Odkaz na jinou webovou stránku:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">&lt;a <span class="atribut">href=</span> <span
                      class="text">"https://www.example.com"</span> &gt;</span> <strong>Klikni zde pro přesměrování na
                    jinou stránku</strong> <span class="tag">&lt;/a&gt;</span><br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <a href="https://www.example.com">Klikni zde pro přesměrování na jinou stránku</a>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <h4>Odkaz na soubor ke stažení:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">&lt;a <span class="atribut">href=</span> <span
                      class="text">"/download/pdfobraze.png"
                      <span class="atribut">download</span></span> &gt;</span> <strong>Stažení obrázku</strong> <span
                    class="tag">&lt;/a&gt;</span><br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <a href="/download/pdfobraze.png" download>Stažení obrázku</a>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <h4>Odkaz na konkrétní část téže stránky:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">&lt;a <span class="atribut">href=</span> <span class="text">"#section2" </span>
                    &gt;</span> <strong>Skočit na druhou sekci této stránky</strong> <span
                    class="tag">&lt;/a&gt;</span><br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <a href="#section2">Skočit na druhou sekci této stránky</a>

              </td>
            </tr>
          </table>
        </li>
        <li>
          <h4>Otevřít v novém okně/tabulce:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">&lt;a <span class="atribut">href=</span> <span
                      class="text">"/download/pdfobraze.png"
                      <span class="atribut">target=</span><span class="text">"_blank"</span></span> &gt;</span>
                  <strong>Otevřít v novém okně</strong> <span class="tag">&lt;/a&gt;</span><br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <a href="https://www.example.com" target="_blank">Otevřít v novém okně</a>

              </td>
            </tr>
          </table>
        </li>
        <li>
          <h4>Odkaz, který není sledován vyhledávačem:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">&lt;a <span class="atribut">href=</span> <span
                      class="text">"https://www.example.com"
                      <span class="atribut">rel=</span><span class="text">"nofollow"</span></span> &gt;</span>
                  <strong>Odkaz, který není sledován vyhledávačem</strong> <span class="tag">&lt;/a&gt;</span><br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <a href="https://www.example.com" rel="nofollow">Odkaz, který není sledován vyhledávačem</a>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <h4>Odkaz na podstránku webu:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">&lt;a <span class="atribut">href=</span> <span
                      class="text">"ukazky/html-css-3/about.html"</span> &gt;</span>
                  <strong>O nás</strong> <span class="tag">&lt;/a&gt;</span><br>
                  <span class="tag">&lt;a <span class="atribut">href=</span> <span
                      class="text">"ukazky/html-css-3/contact.html"</span> &gt;</span>
                  <strong>Kontakt</strong> <span class="tag">&lt;/a&gt;</span><br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <a href="ukazky/html-css-3/about.html">O nás</a>
                <a href="ukazky/html-css-3/contact.html">Kontakt</a>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <h4>Tlačítko jako odkaz:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">&lt;button <span class="atribut">onclick=</span> <span class="text">"<span
                        class="atribut">document</span>.<span class="atribut">location</span>='/index.html'"</span>
                    &gt;</span>
                  <strong>Hlavni stranka</strong> <span class="tag">&lt;/button&gt;</span><br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <button onclick="document.location='/index.html'">Hlavní stránka</button>
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </section>

    <section class="odstavec">
      <h3>Stylovaní odkazu</h3>
      <ul>
        <li>
          <h4>Změna barvy textu:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">a</span> &#123; <br>
                  <span class="tag2"></span><span class="atribut">color</span>: <span class="text">red</span>; <br>
                  &#125; <br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <a href="https://elsnoxx.github.io/" class="lekce3-styl-1">Klikni zde pro přesměrování na jinou
                  stránku</a>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <h4>Zvýraznění při najetí myší:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">a</span><span class="doplnek">:hover</span> &#123; <br>
                  <span class="tag2"></span><span class="atribut">background-color</span>: <span
                    class="text">yellow</span>; <br>
                  &#125; <br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <a href="https://elsnoxx.github.io/" class="lekce3-styl-2">Klikni zde pro přesměrování na jinou
                  stránku</a>
              </td>
            </tr>
          </table>
        </li>

        <li>
          <h4>Změna písma:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">a</span> &#123; <br>
                  <span class="tag2"></span><span class="atribut">font-family</span>: <span class="text">Arial,
                    sans-serif</span>; <br>
                  &#125; <br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <a href="https://elsnoxx.github.io/" class="lekce3-styl-3">Klikni zde pro přesměrování na jinou
                  stránku</a>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <h4>Zvýraznění podtržením:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">a</span> &#123; <br>
                  <span class="tag2"></span><span class="atribut">text-decoration</span>: <span
                    class="text">underline</span>; <br>
                  &#125; <br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <a href="https://elsnoxx.github.io/" class="lekce3-styl-4">Klikni zde pro přesměrování na jinou
                  stránku</a>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <h4>Změna stylu kurzoru:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">a</span> &#123; <br>
                  <span class="tag2"></span><span class="atribut">cursor</span>: <span class="text">crosshair</span>;
                  <br>
                  &#125; <br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <a href="https://elsnoxx.github.io/" class="lekce3-styl-5">Klikni zde pro přesměrování na jinou
                  stránku</a>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <h4>Odstanění podtržení:</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">a</span> &#123; <br>
                  <span class="tag2"></span><span class="atribut">text-decoration</span>: <span
                    class="text">none</span>; <br>
                  &#125; <br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <a href="https://elsnoxx.github.io/" class="lekce3-styl-6">Klikni zde pro přesměrování na jinou
                  stránku</a>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <h4>Tlačítko jako odkaz</h4>

          <table>
            <tr>
              <td>
                <span class="code">
                  <span class="tag">.lekce3-styl-7</span> &#123; <br>
                  <span class="tag2"></span><span class="atribut">padding</span>: <span class="text">10px 20px</span>;
                  <br>
                  <span class="tag2"></span><span class="atribut">background-color</span>: <span
                    class="text">#007bff</span>; <br>
                  <span class="tag2"></span><span class="atribut">color</span>: <span class="text">white</span>; <br>
                  <span class="tag2"></span><span class="atribut">border-radius</span>: <span class="text">5px</span>;
                  <br>
                  <span class="tag2"></span><span class="atribut">border</span>: <span class="text">none</span>; <br>
                  <span class="tag2"></span><span class="atribut">font-size</span>: <span class="text">16px</span>; <br>
                  <span class="tag2"></span><span class="atribut">font-weight</span>: <span class="text">bold</span>;
                  <br>
                  <span class="tag2"></span><span class="atribut">cursor</span>: <span class="text">pointer</span>; <br>
                  &#125; <br>
                  <br>
                  <span class="tag">.lekce3-styl-7</span><span class="doplnek">:hover</span> &#123; <br>
                  <span class="tag2"></span><span class="atribut">background-color</span>: <span
                    class="text">#0056b3</span>; <br>
                  &#125; <br>
                </span>
              </td>
              <td style="padding-left: 20px; font-weight: bolder;">
                <button onclick="document.location='/index.html'" class="lekce3-styl-7">Hlavni stranka</button>
              </td>
            </tr>
          </table>
        </li>

      </ul>
    </section>


    <section>
      <h2>Navod na vytvoření podstránky</h2>
      <p>
        Nyní si ukážeme jak si vytvořit svoji vlastní podstránku.
      </p>
      <ol>
        <li>
          <p>
            Začneme tím, že otevřeme <a href="/lessons/html-css/html-css-vsc.html">Visual Studio Code</a>
            <strong>(VSC)</strong>.
          </p>
        </li>
        <li>
          <p>
            V <strong>VSC</strong> klikneme na tlačítko <strong>"File"</strong> v horním levém rohu a zvolíme možnost
            <strong>"New File"</strong>, abychom vytvořili nový soubor.
          </p>
        </li>
        <li>
          <p>
            Nyní vytvoříme nový soubor a uložíme ho do složky na našem počítači. Jako název souboru použijeme něco, co
            popisuje obsah naší podstránky. Například <strong>"moje-hra.html"</strong>.
          </p>
        </li>
        <li>
          <p>
            Teď otevřeme tento soubor v editoru VSC kliknutím na něj v postranním panelu nebo přes možnost
            <strong>"File" -> "Open File"</strong>.
          </p>
        </li>
        <li>
          <p>
            V editoru napíšeme základní strukturu HTML. Můžeme začít s napsáním <strong>"doc"</strong> na první řádek a
            stiskneme <strong>Enter</strong>.
          </p>
        </li>
        <li>
          <p>
            V rámci sekce <strong>"<span class="tag">&lt;body&gt;</span>"</strong> můžeme vytvořit obsah naší
            podstránky. Můžeme přidat text, obrázky, odkazy nebo cokoli jiného, co
            chceme.
          </p>
        </li>
        <li>
          <p>
            Když jsme hotovi s obsahem, nezapomeňme na to, že bychom měli uložit naši práci. Stiskneme tlačítko
            <strong>"Save"</strong> v horním menu nebo použijeme klávesovou zkratku <strong>"Ctrl + S"</strong>.
          </p>
        </li>
        <li>
          <p>
            Poté si za pomocí tlačítka <strong>"New Folder"</strong>, vytvoříte složku a pojmenujete si ji
            <strong>"stranky"</strong>.
          </p>
        </li>
        <li>
          <p>
            Ve složce vytvoříte novou stranku.
          </p>
          <ol>
            <li>
              <p>
                Nyní vytvoříme nový soubor a uložíme ho do složky na našem počítači. Jako název souboru použijeme něco,
                co
                popisuje obsah naší podstránky. Například <strong>"moje-hra.html"</strong>.
              </p>
            </li>
            <li>
              <p>
                Teď otevřeme tento soubor v editoru VSC kliknutím na něj v postranním panelu nebo přes možnost
                <strong>"File" -> "Open File"</strong>.
              </p>
            </li>
            <li>
              <p>
                V editoru napíšeme základní strukturu HTML. Můžeme začít s napsáním <strong>"doc"</strong> na první
                řádek a stiskneme <strong>Enter</strong>.
              </p>
            </li>
            <li>
              <p>
                V rámci sekce <strong>"<span class="tag">&lt;body&gt;</span>"</strong> můžeme vytvořit obsah naší
                podstránky. Můžeme přidat text, obrázky, odkazy nebo cokoli jiného, co
                chceme.
              </p>
            </li>
          </ol>
        </li>
        <li>
          Jako poslední krok vytvoříte pomocí tagu odkaz na tento soubor, s cestou
          <strong>/stranky/strana2.html</strong>.
        </li>
      </ol>
    </section>



    <div class="odstavec">
      <h2>Domácí úkol</h2>
      <p>
        Vaším úkolem je zdokonalit úkol z minula. Hlavní stránka webu bude úvodní a bude obsahovat odkazy na detailní
        popis hry nebo filmu. Každá hra bude mít svou vlastní stránku s detailním popisem.
        Stránka by měla obsahovat vše, co jsme si dnes v lekci ukázali. Jakmile budete hotovi, odevzdejte svou práci do
        <a
          href="https://mystat.itstep.org/cs/auth/login/index?returnUrl=%2Fcs%2Fmain%2Fdashboard%2Fpage%2Findex"><strong>Mystat</strong></a>.
      </p>
      <h5>Nároky na webovou stránku</h5>
      <ul>
        <li><strong>Hlavní webová stránka s úvodním popisem a 3 podstránky</strong></li>
        <li><strong>Název a úvodní popis</strong></li>
        <li><strong>Seznam postav</strong></li>
        <li><strong>Obrázky postav</strong></li>
        <li><strong>Alespoň 3 hry nebo filmy</strong></li>
        <li><strong>Odkaz na zakoupení hry nebo filmu</strong></li>
        <li><strong>Lákavý design</strong></li>
      </ul>
      <h5 style="padding-top: 50px;">Nechci, abyste použili jakoukoli AI na generování tohoto úkolu.</h5>
    </div>






    <div class="odstavec">
      <table>
        <tr>
          <td>
            <h5>Zadání úkolu</h5>
          </td>
          <td style="padding-left: 50px;">
            <button onClick='download("/download/html-css/html-css-3.pdf")' class="btn btn-primary"
              style="font-weight: bold;">
              stažení</button>
          </td>
        </tr>
      </table>
      <h5><a href="/download/pdfobraze.png" download>Cover</a></h5>
    </div>
