<div class="odstavec">
    <h1>Audacity</h1>
    <p style="margin-bottom: 64px;">
      Pro práci na našich úkolů budeme používat nástroj <a href="https://www.audacityteam.org/">AudaCity</a>.
      Návod na zprovoznění najdete <a href="/lessons/audacity/env.html">zde</a>.
    </p>
  </div>
  
  <div style="margin-bottom: 64px;">
    <a href="/lessons/audacity/audacity1.html">
      <h3>Lekce 1</h3>
    </a>
    <ul>
      <a href="/lessons/audacity/audacity1.html">
        <h6>Obsah lekce - Úvod, prostředí Audacity, první zvuková nahrávka</h6>
      </a>
      <p style="margin-bottom: 32px;">
        V této lekci se naučíte základní práci s programem Audacity, včetně instalace, vytváření nových projektů a
        nahrávání zvuku. Naučíte se také základy zvukové teorie, jako je vzorkovací frekvence, rozdíly mezi stereo a
        mono zvukem, a jak uložit projekt do formátu MP3 s vyplněním metadat.
      </p>
      <p style="margin-bottom: 32px;">
        Pro práci na našich úkolů budeme používat nástroj <a href="https://www.audacityteam.org/">AudaCity</a>.
        Návod na zprovoznění najdete <a href="/lessons/audacity/env.html">zde</a>.
      </p>
      <p>
        Pokud budete chtít můžete použít i tento <a href="https://www.speechtech.cz/speechtech-text-to-speech/speechtech-tts-online-demo/#Oldrich30">generátor mluveného textu</a>.
      </p>
    </ul>
  
    <a href="/lessons/audacity/audacity2.html">
      <h3>Lekce 2</h3>
    </a>
    <ul>
      <a href="/lessons/audacity/audacity2.html">
        <h6>Obsah lekce - Efekty a podcast</h6>
      </a>
      <p style="margin-bottom: 32px;">
        V této lekci naučíte používat Audacity pro úpravu zvuku, včetně efektů jako normalizace, limiter, fade
        in, fade out a zesílení. Budete tvořit vlastní podcast (2-5 minut) s intrem, sponzorem, outrem a třemi efekty.
        Naučíte se také ukládat MP3 soubory a vyplňovat metadata.
      </p>
      <p>
        Pokud budete chtít můžete použít i tento <a href="https://www.speechtech.cz/speechtech-text-to-speech/speechtech-tts-online-demo/#Oldrich30">generátor mluveného textu</a>.
      </p>
    </ul>
  
    <a href="/lessons/audacity/audacity3.html">
      <h3>Lekce 3</h3>
    </a>
    <ul>
      <a href="/lessons/audacity/audacity3.html">
        <h6>Obsah lekce - Šum a Remix </h6>
      </a>
      <p style="margin-bottom: 32px;">
        V této lekci naučíte používat Audacity pro ukázku spectogramu. Ukážeme si jak vytvářet šum, tóny a jiné zvuky.
      </p>
      <p>
        Pokud budete chtít můžete použít i tento <a href="https://www.speechtech.cz/speechtech-text-to-speech/speechtech-tts-online-demo/#Oldrich30">generátor mluveného textu</a>.
      </p>
    </ul>
  
    <a href="/lessons/audacity/audacity4.html">
      <h3>Lekce 4</h3>
    </a>
    <ul>
      <a href="/lessons/audacity/audacity4.html">
        <h6>Obsah lekce - Opakování, zadání projektu a vypracovávání prezentace</h6>
      </a>
      <p style="margin-bottom: 32px;">
        V této lekci naučíte používat Audacity pro úpravu zvuku. Ukážeme si jak zvýšit a snížit hlasitost a jiné možné nastavení.
        Zadáme si projket a také prezentaci. Tohle vše pak nas čeká ještě odprezentovat rodičům.
      </p>
      <p>
        Pokud budete chtít můžete použít i tento <a href="https://www.speechtech.cz/speechtech-text-to-speech/speechtech-tts-online-demo/#Oldrich30">generátor mluveného textu</a>.
      </p>
    </ul>
  
    <a href="/lessons/audacity/projekt.html">
      <h3>Projekt</h3>
    </a>
    <ul style="margin-bottom: 64px;">
      <a href="/lessons/audacity/projekt.html">
        <h6>Zadání projektu - Rádiové vysílání </h6>
      </a>
      <p>
        V dalších lekcích budete vypracovávat závěrečný projekt a prezentaci k němu. Veškeré materiály dostanete na
        lekci.
        K tvorbě projektu budou i potřebné znalosti z lekcí, které jsme jič probrali.
        V případě nejasností se mi <a href="/contact">ozvete</a>.
      </p>
    </ul>
  
    <a href="/prezentace.html">
      <h3>Prezentace</h3>
    </a>
    <ul style="margin-bottom: 64px;">
      <a href="/prezentace.html">
        <h6>Zadání prezentace</h6>
      </a>
      <p>
        V dalších lekcích budete vypracovávat závěrečný projekt a prezentaci k němu. Veškeré materiály dostanete na
        lekci.
        K tvorbě projektu budou i potřebné znalosti z lekcí, které jsme jič probrali.
        V případě nejasností se mi <a href="/contact">ozvete</a>.
      </p>
    </ul>
  
    <a href="/lessons/audacity/hodnoceni.html">
      <h3>Hodnocení lekce</h3>
    </a>
    <ul style="margin-bottom: 64px;">
      <p>
        Prosím ohodnoťte lekci v níže přidaném formuláři.
      </p>
      <a href="/lessons/audacity/hodnoceni.html">
        <h6>Formulář hodnocení</h6>
      </a>
    </ul>
  </div>
  