<div>
    <table class="moveAndTime">
      <tr>
        <td>
          <button id="left" class="btn btn-primary"
            onclick="location.href = '/lessons/html-css/html-css-4.html';">Předchozí lekce</button>
          <button id="right" class="btn btn-primary"
            onclick="location.href = '/lessons/html-css/projekt.html';">Následují lekce</button>
        </td>
        <td>
          <p class="nav-link" id="cas-text"><span id="cas"></span></p>
        </td>
      </tr>
    </table>
  </div>
  <h1>Lekce č. 5 - Boostrap a Blog</h1>
  <p>
    V této lekci si představíme jak funguje knohovna <strong><a href="https://getbootstrap.com/">Boostrap</a></strong>. Také si ukážeme jeho použití na
    příkladu webu.
  </p>


  <section class="odstavec">
    <h2>Bootstrap: Pomocník pro Vytváření Webových Stránek</h2>
    <p>
      Bootstrap je jako kouzelná kniha plná kódů, která ti může pomoci vytvořit úžasné webové stránky! Je to jako LEGO
      pro internet!
    </p>
    <section class="odstavec">
      <h3>Co je to Bootstrap?</h3>
      <p>
        Bootstrap je speciální nástroj, který ti pomáhá vytvářet webové stránky snadno a rychle. Místo toho, abys
        musel všechno psát od začátku, můžeš použít hotové kousky kódu, které ti Bootstrap nabízí. To ti ušetří
        spoustu času a energie!
      </p>
      <h3>Jak Bootstrap funguje?</h3>
      <p>
        Bootstrap obsahuje spoustu připravených stylů a kódů, které můžeš použít na své stránky. Například, pokud
        chceš mít hezký modrý tlačítko, nemusíš ho kreslit sám. Stačí napsat pár řádků kódu v Bootstrapu a on ti
        vytvoří to tlačítko za tebe!
      </p>
      <h3>Proč je Bootstrap super?</h3>
      <ul>
        <li>
          <strong>Snadné použití:</strong> S Bootstrapem nemusíš být profesionální programátor. Stačí trochu pochopit
          základy a můžeš začít vytvářet úžasné věci!
        </li>
        <li>
          <strong>Rychlost:</strong> Díky Bootstrapu můžeš vytvořit krásné webové stránky rychleji, protože nemusíš
          všechno dělat od začátku.
        </li>
        <li>
          <strong>Responsivní design:</strong> To znamená, že tvé stránky budou vypadat dobře nejen na počítači, ale i
          na mobilním telefonu nebo tabletu!
        </li>
      </ul>
      <h3>Jak se Bootstrap používá?</h3>
      <ol>
        <li>
          <strong>Stažení Bootstrapu:</strong> Začni tím, že si stáhneš Bootstrap z jejich oficiální stránky.
        </li>
        <li>
          <strong>Připojení kódů:</strong> Do svého HTML souboru přidej kódy Bootstrapu, které jsi stáhnul. To umožní
          tvým stránkám používat všechny úžasné vlastnosti Bootstrapu.
        </li>
        <li>
          <strong>Vytváření stránky:</strong> Teď můžeš začít vytvářet! Používej různé třídy a prvky Bootstrapu, abys
          udělal svou stránku tak, jak jsi si představoval.
        </li>
      </ol>
    </section>
  </section>


  <section class="odstavec">
    <h4>Blog</h4>
    <div class="row">
      <div class="col-md-6">
        <p>
          Níže se nachází zipový soubor s zdrojový kódem Blogu.
        </p>
      </div>
      <div class="col-md-6">
        <ul>
          <a href="/download/html-css/Blog.zip" download class="btn btn-primary">Blog</a>
        </ul>
      </div>
    </div>


    <p>
      Na tomto příkladu si ukážeme jak si jednoduše vytvořit menu, tělo a patičku webu. Také si ukážeme přístup a
      práci s knihovnou boostrap.
    </p>
  </section>