<h1>Kontakt</h1>

<div class="odstavec">
  <table class="table">
    <tr>
      <td>
        <h4>
          Jmenuji se Richard Ficek, a jsem lektorem v 
          <a href="https://ostrava.itstep.org/" target="_blank" rel="noopener noreferrer">StepIT academy</a>.
        </h4>
      </td>
      <td>
        <img src="assets/img/foto.avif" alt="Richard Ficek" width="150" height="150">
      </td>
    </tr>
  </table>
</div>

<div class="odstavec">
  <p>V případě dotazů pište na email:
    <a href="mailto:ficek_r@itstep.academy">ficek_r&#64;itstep.academy</a>
  </p>
  <p>V případě potřeby discord server: 
    <a href="https://discord.gg/vv3Nf6krVg" target="_blank" rel="noopener noreferrer">https://discord.gg/vv3Nf6krVg</a>
  </p>
</div>

<div class="odstavec">
  <h4>Mezi mé zájmy patří:</h4>

  <div class="row">
    <div class="col-md-4">
      <img class="myImg" src="assets/img/contact/age-of-empires-2.avif" alt="Age of Empires 2" style="width:100%; max-width:200px; height: auto" loading="lazy">
    </div>
    <div class="col-md-4">
      <img class="myImg" src="assets/img/contact/minecraft.avif" alt="Minecraft" style="width:100%; max-width:200px; height: auto" loading="lazy">
    </div>
    <div class="col-md-4">
      <img class="myImg" src="assets/img/contact/world-of-tanks.avif" alt="World of Tanks" style="width:100%; max-width:200px; height: auto" loading="lazy">
    </div>
  </div>
</div>

<div class="odstavec">
  <h4>Mé dovednosti jsou:</h4>

  <div class="row">
    <div class="col-md-3">
      <img class="myImg" src="assets/img/contact/c-sharp.avif" alt="C#" style="width:100%; max-width:200px; height: auto" loading="lazy">
    </div>
    <div class="col-md-3">
      <img class="myImg" src="assets/img/contact/c.avif" alt="C" style="width:100%; max-width:200px; height: auto" loading="lazy">
    </div>
    <div class="col-md-3">
      <img class="myImg" src="assets/img/contact/html-css.avif" alt="HTML & CSS" style="width:100%; max-width:200px; height: auto" loading="lazy">
    </div>
    <div class="col-md-3">
      <img class="myImg" src="assets/img/contact/python.avif" alt="Python" style="width:100%; max-width:200px; height: auto" loading="lazy">
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
