<div>
    <table class="moveAndTime">
      <tr>
        <td>
          <button id="left" class="btn btn-primary" onclick="location.href = '/lessons/html-css/html-css-3.html';">Předchozí lekce</button>
          <button id="right" class="btn btn-primary" onclick="location.href = '/prezentace.html';">Následují lekce</button>
        </td>
        <td>
          <p class="nav-link" id="cas-text"><span id="cas"></span></p>
        </td>
      </tr>
    </table>
  </div>
  <h1>Hosting</h1>

  <div class="odstavec">
    <p>
      Je to služba, která poskytuje místo pro umístění
      informací na serveru trvale připojeném k internetu.
      Ve skutečnosti je hosting nějaký počítač, na který můžete
      umístit svou stránku a libovolný uživatel k němu bude mít
      přístup.
      <br><br>
      Hosting je také možné udělat pomocí svého počítači,
      avšak existuje několik požadavků:
    </p>
    <ul>
      <li>počítač musí být pořád zapnutý</li>
      <li>musí být neustály přístup k internetu</li>
      <li>statická IP-adresa</li>
    </ul>
    
    <p class="otazka"><strong>Název domény</strong></p>
    <p>
      Je to jedinečný název stránky, který
      slouží pro přístup k hostingu.
      <strong>Příklad domény</strong> – site.com, site.org.
    </p>
  </div>

  <section>
    <h3>Doména</h3>
    <p>
      Pro umístění stránky na internetu nestačí jen získat
      hosting. Je to místo, kde je uložena stránka. K vaší stránce je
      třeba vytvořit přístup pro libovolného uživatele.
    </p>
    <p>
      <strong>Název domény</strong> -- je to jedinečný název stránky, který
      slouží pro přístup k hostingu.
    </p>
    <h6>Příklady:</h6>
    <ul>
      <li>
        site.com
      </li>
      <li>
        google.com
      </li>
      <li>
        seznam.cz
      </li>
      <li>
        elsnoxx.github.io
      </li>
    </ul>
  </section>


  <h3>Vytvoření dostupné vlastní webové stránky z interneru</h3>
  <p>
    Nyní si ukážeme jak si námi vytvořené stránky publikovat a uložit náš zdrojový kód tak aby jsme se k nemu dostali
    všude.
    Níže naleznete co vše budete potřebovat:
  </p>
  <ul>
    <li>
      Účet na stránce <a href="#">github.com</a>
    </li>
  </ul>

  <p>
    Po vytvoření vašeho účtu na stránce <a href="#">github.com</a>, vytvoříte si repositář pojmenouvaný jako
    <strong>nickname.github.io</strong>.
    Jako nickname prosím uveďte svoji přezdívku, kterou jste si zadali při vytvařní vašeho účtu na stránce <a
      href="#">github.com</a>.
  </p>

  <p>
    Jakmile budete mít vytvořený repositář tak si ro rozklikněte. Teď nám bude zbívat jen to, aby jste nahráli kód
    vaši webové stránky do repositáře.
  </p>

  <p>
    Jako poslední krok bude v nastavení repositáři přesněnji teda v záložce <strong>nastavení</strong> a poté
    <strong>Pages</strong>. Zde to nastavíte tak jak je uvedeno na obrázku.
  </p>

  <p>
    Následně by se měl objevit odkaz na vaši stránku. Popřípadne když dáte do vyhledávače váš název repozitáře, tak by
    jste meli vaši webovku vidět online.
    A od teď pojede vaše webová stránka doku to sami nevypnete.
  </p>