<nav>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img src="/assets/img/learning.png" alt="logo home button" loading="lazy"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <div class="btn-group">
          <button class="btn btn-secondary dropdown-toggle" role="button" id="defaultDropdown" data-toggle="dropdown"
            data-bs-auto-close="true" aria-expanded="false">
            Lekce
          </button>
          <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
            <li><a class="dropdown-item" href="/construct">Construct-3</a></li>
            <li><a class="dropdown-item" href="">TinkerCAD</a></li>
            <li><a class="dropdown-item" href="">Wordpress</a></li>
            <li><a class="dropdown-item" href="/html-css">HTML CSS</a></li>
            <li><a class="dropdown-item" href="">Python - beginner</a></li>
            <li><a class="dropdown-item" href="">Python - minecraft</a></li>
            <li><a class="dropdown-item" href="">Roblox</a></li>
            <li><a class="dropdown-item" href="">JavaScript</a></li>
            <li><a class="dropdown-item" href="/audacity">AudaCity</a></li>
            <li><a class="dropdown-item" href="">Youtube</a></li>
            <li><a class="dropdown-item" href="">Art of Presentation</a></li>
          </ul>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="/mystat">Mystat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Bugs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Version</a>
        </li>
      </ul>
    </div>
  </nav>
</nav>
<main role="main" class="container mt-5">
  <router-outlet></router-outlet>
</main>