<div class="mt-5 mb-5">
    <h1>Mystat</h1>
    <table class="table">
      <tr>
        <td>
          <p>
            Mystat je online webový portál vytvořený pro žáky Step IT.
            Najdete zde svou docházku, pořadí ve třídě, body a diamanty a hlavní učební materiály a domácí úlohy.
            V Mystatu jsou oficiální materiály, které můžete použít k samostudiu.
          </p>
        </td>
        <td>
          <img class="myImg" src="assets/img/mystat/mystat.avif" alt="Mystat Overview"
            style="width:100%; max-width:500px; height: auto" loading="lazy">
        </td>
      </tr>
    </table>
  
    <h3 class="mt-5">Body a diamanty</h3>
    <table class="table">
      <tr>
        <td>
          <p>
            Body získáváte za plnění domácích prací, za docházku a za ohodnocení práce v hodině.
            Diamanty jsou ale cennější a nelze je získat tak jednoduše jako body.
            A však bez nich si nedokážete nic koupit. Body a diamanty lze uplatnit v obchodě na webu Mystatu.
            Kde najdete spousty zajímavých předmětů.
          </p>
        </td>
        <td>
          <img class="myImg" src="assets/img/mystat/bodovani.avif" alt="Points and Diamonds"
            style="width:100%; max-width:500px; height: auto" loading="lazy">
        </td>
      </tr>
    </table>
  
    <h3 class="mt-5">Materiály z lekcí</h3>
    <p>
      Materiály z lekcí najdete v menu na levé straně.
      Tam najdete záložku <strong>Studijní materiály</strong> a po otevření se dostanete na stránku, kde najdete
      přehled všech materiálů. Tyto materiály jsou oficiální a doporučuji učit se hlavně z nich.
      Než pak využívat mé materiály zde na těchto stránkách. Ty najdete v záložce <strong>Lekce</strong> nahoře na
      stránce. Pokud chcete studovat dopředu, je to možné, avšak je lepší se mi ozvat, abych vám přidělil,
      zveřejnil materiály na stránky, abyste mohli pracovat dopředu. Nebo vymyslím něco jiného, abyste se
      mohli rozvíjet.
    </p>
  
    <h3 class="mt-5">Domácí úkoly</h3>
    <p>
      Zadání domácích úloh najdete v menu na levé straně.
      Tam najdete záložku <strong>Domácí úkoly</strong> a po otevření se dostanete na stránku, kde najdete
      přehled domácích úloh. Na vypracování domácí úlohy máte vždy týden,
      vždy v lekci vám, ale upřesním do jakého dne je nutné úkol odevzdat.
      Pozdní odevzdání je možné, ale budou za něj stržené body.
      Zadání najdete vždy v záložce <strong>domácí úkoly</strong> na webu Mystatu.
      Poté, co vám domácí úkol ohodnotím, napíšu vám reakci na něj.
      Jsou to připomínky a nebo <strong>POCHVALY</strong>, které najdete v okně daného úkolu.
    </p>
  
    <h3 class="mt-5">Časté otázky</h3>
    <h4>Zapomněl jsem heslo, co mám dělat?</h4>
    <p>Pokud jste zapomněl heslo a nemůžete se dostat na Mystat, kontaktujte mě a pošlu vám vaše heslo nebo ho resetujeme.</p>
  
    <div class="odstavec">
      <a href="https://mystat.itstep.org/cs/auth/login/admin" target="_blank" rel="noopener noreferrer">Ukázka Mystatu</a>
    </div>
  </div>
  
  <!-- The Modal -->
  <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>
  