<div>
    <table class="moveAndTime">
        <tr>
            <td>
                <button id="left" class="btn btn-primary"
                    onclick="location.href = 'html-css';">Předchozí lekce</button>
                <button id="right" class="btn btn-primary"
                    onclick="location.href = 'html-css/lekce1';">Následují lekce</button>
            </td>
            <td>
                <p class="nav-link" id="cas-text"><span id="cas"></span></p>
            </td>
        </tr>
    </table>
</div>
<div class="odstavec">
    <table>
        <tr>
            <td>
                <h1>Prostředí pro vývoj</h1>
                <p>
                    Je spousta možných prostředí, které nám umožní vývoj webových stránek. Ale já pro naši lekci vybral
                    právě
                    program <a href="https://code.visualstudio.com/download" target="_blank"
                        rel="noopener noreferrer">Visual
                        Studio Code</a>. Hlavní důvod proč budeme
                    používat
                    tento program je, že jednoduše nám udělá server, který se bude automaticky aktualizovat a nemusíte
                    ručně
                    znova načíst
                    celou stránku.
                </p>

                <h3>Potřebné rozšíření</h3>
                <p>
                    Níže jsou názvy rozšíření, které si doinstalujeme a svou práci si ulehčíme.
                    Červená čtvereček na fotce vedle nám ukazuje místo kde se instalují veškeré rozšíření.
                    Do zeleného obdélníku vložíme níže napsané nazázvy a jeden po druhém je stáhneme.
                </p>
                <ul>
                    <li>ms-vscode.live-server</li>
                    <li>ecmel.vscode-html-css</li>
                </ul>
            </td>
            <td>
                <img class="myImg" src="assets/img/html-css/visual-studio-code-extension.avif"
                    alt="Rozšíření ve Visual Studiu Code" style="width:100%; max-width:3000px; height: auto"
                    loading="lazy">
            </td>
        </tr>
    </table>
</div>