<!-- app.component.html -->
<div class="container mt-5">
  <div class="">
    <div class="">
      <p class="nav-link" id="cas-text">
        <!-- <span id="cas">{{ currentTime }}</span> -->
      </p>

      <h1 class="card-title mt-4 mb-4">Materiály do hodiny StepIT</h1>

      <p class="card-text fs-4 fw-bold mb-4">
        Pokud najdete nějakou chybu na webu, nahlásíte mi ji na lekci já ji opravím.
        Pokud se bude jednat o nějakou větší chybu můžete dostat diamant.
      </p>

      <p class="card-text mb-4">
        Zde najdete hlavní přehled všech předmětů, které jsme již probrali. Mohou se zde vyskytnout i další témata. Ty však nebudou mít přidané mé materiály.
      </p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Webové stránky</h2>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li><a class="item" href="#">Wordpress</a></li>
            <li><a class="item" href="/lessons/html-css/html-css.html">HTML CSS</a></li>
            <li><a class="item" href="#">JavaScript</a></li>
            <li><a class="item" href="#">WIX</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header  text-center">
          <h2>Grafika a design</h2>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li><a class="item" href="/lessons/tinkercad/tinkercad.html">TinkerCAD</a></li>
            <li><a class="item" href="/lessons/youtube/youtube.html">Youtube</a></li>
            <li><a class="item" href="/lessons/audacity/audacity.html">AudaCity</a></li>
            <li><a class="item" href="/lessons/prezentace/prezentace.html">Art of Presentation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header  text-center">
          <h2>Vývoj her</h2>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li><a class="item" href="/lessons/construct/construct3.html">Construct-3</a></li>
            <li><a class="item" href="/lessons/roblox/roblox.html">Roblox</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Programování</h2>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li><a class="item" href="/lessons/python_beginner/python_beginner.html">Python - beginner</a></li>
            <li><a class="item" href="/lessons/python_minecraft/python_minecraft.html">Python - programování v Minecraftu</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Závěrečná prezentace</h2>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li><a class="item" href="/prezentace.html">Tvorba prezentace</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Stránka s hry</h2>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li><a class="item" href="/games/games.html">Hry</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="">
      <a href="https://drive.google.com/drive/folders/1Szbvf2HedadrLJ2U9h28UUyxuNypdBUb?usp=share_link">
        <h3 class="card-title text-center">Uložiště</h3>
      </a>
      <p class="text-center">Pokud nemáte google účet použijte tento:</p>
      <ul class="list-unstyled text-center">
        <li>stepit.zak&#64;gmail.com</li>
        <li>Student2024</li>
      </ul>
    </div>
  </div>
</div>
