<h1 class="mt-5">HTML a CSS</h1>
<p style="margin-bottom: 20px; ">
    Pro vytváření našich projeků budeme používat vývojové prostředí
    <a href="https://code.visualstudio.com/download">Visual Studio Code</a>.
    Návod navytvoření si vyvojového prostředí <a href="/lessons/html-css/html-css-vsc.html">zde</a>.
</p>

<p>
    Pokud bude te chtít dozvědět se něco navíc a pracovat sami na sebe. Jelikož na lekci nejsme
    schopni probrat vše co se týče HTML a CSS a něco o psaní webu. Tak se koukněte na stránky
    <a href="https://www.jakpsatweb.cz/">jakpsatweb.cz</a>, kde najdete kupu rad a typů jak
    by jste měli takový web vytvořit.
</p>

<div class="mid">

    <!-- src/app/lessons/html-css/html-css.lessons.component.html -->
    <section class="lessons-section">
        <header>
            <h2>Seznam lekcí na téma HTML a CSS</h2>
            <p>
                Tento seznam lekcí vám pomůže postupně se seznámit s HTML a CSS. Každá lekce je navržena tak, aby
                pokryla klíčové koncepty a dovednosti potřebné pro tvorbu moderních webových stránek. 
                Klikněte na nadpis lekce pro její otevření a přečtěte si podrobný popis obsahu, který vás čeká.
            </p>
        </header>
    
        <div class="lessons-container">
            <div class="lesson-card" *ngFor="let lesson of lessons">
                <div class="lesson-header">
                    <a [href]="lesson.link" class="lesson-title">
                        <h3>{{ lesson.title }}</h3>
                    </a>
                </div>
                <div class="lesson-content">
                    <div class="lesson-description">
                        <p>{{ lesson.description }}</p>
                    </div>
                    <div class="lesson-action">
                        <a [href]="lesson.link" class="btn btn-primary">Přejít na lekci</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <div class="project-card">
        <div class="project-header">
            <h2 class="project-title">{{ project.title }}</h2>
        </div>
        <div class="project-body">
            <h4 class="card-title">Zadání projektu - Webové stránky</h4>
            <p>{{ project.description }}</p>

            <div class="mt-auto text-end">
                <a [href]="project.link" class="btn btn-secondary">{{ project.buttonText }}</a>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="project-header">
            <h2 class="project-title">{{ finalPresentation.title }}</h2>
        </div>
        <div class="project-body">
            <p>{{ finalPresentation.description }}</p>

            <div class="mt-auto text-end">
                <a [href]="finalPresentation.link" class="btn btn-secondary">{{ finalPresentation.buttonText }}</a>
            </div>
        </div>
    </div>

    <div class="rating-card card  mb-4">
        <div class="card-header bg-info text-white">
            <h2>{{ rating.title }}</h2>
        </div>
        <div class="card-body">
            <p class="card-text">{{ rating.description }}</p>
            <a [href]="rating.link" class="btn btn-info mt-3">{{ rating.buttonText }}</a>
        </div>
    </div>


    <section class="additional-lessons-section">
        <header>
            <h2>Doplňkové materiály a ukázkové práce</h2>
            <p>
                Tato sekce obsahuje další materiály a ukázky, které vám pomohou lépe pochopit a procvičit si naučené dovednosti.
                Klikněte na jednotlivé karty pro zobrazení detailů a stažení potřebných souborů.
            </p>
        </header>
    
        <div class="lessons-container">
            <div class="lesson-card" *ngFor="let lesson of additional">
                <div class="lesson-header">
                    <a [href]="lesson.link" class="lesson-title">
                        <h3>{{ lesson.title }}</h3>
                    </a>
                </div>
                <div class="lesson-content">
                    <div class="lesson-description">
                        <p>{{ lesson.description }}</p>
                    </div>
                    <div class="lesson-action">
                        <a [href]="lesson.link" class="btn btn-primary">Přejít na lekci</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>